@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
  --members-card-height: 40vh;
  --members-card-width: calc(var(--members-card-height) / 1.5);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Hides the horizontal overflow */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* Ignore these gradients used for mobile menu theme later going to change */
/* ---------------------Ignore Start ------------------------------- */
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ---------------------Ignore End ------------------------------- */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.navbar-div {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
/* members card  */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.members-card {
  width: var(--members-card-width);
  height: var(--members-card-height);
  position: relative;
  z-index: 0;
  min-height: 300px;
  min-width: calc(300px / 1.5);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  background-color: #191c29;

  cursor: pointer;
  font-family: cursive;
  flex-direction: column;
  /*   overflow:hidden; */
}

.members-card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.members-card:hover img {
  opacity: 0.2;
  transition: opacity 1s;
}
.members-card:hover:before,
.members-card:hover:after {
  animation: none;
  opacity: 0;
}

.members-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: 0;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.members-card::after {
  position: absolute;
  content: "";
  top: calc(var(--members-card-height) / 6);
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--members-card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 6px;
  z-index: 1;
}
.desc {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: all ease-out 0.4s;
}
.members-card:hover .desc {
  opacity: 1;
  transition: all ease-in 0.2s;
}
.wrapper-member-card {
  /* overflow-y: visible; */
  height: 120%;
  overscroll-behavior-y: none;
}

/* ---------------------------------------------------------------- */
/* SECONDARY BUTTON CSS STYLING */
.secondary-btn {
  position: relative;
  width: 150px;
  height: 50px;
}

.cyber-cta,
.cyber-cta * {
  box-sizing: border-box;
}

.cyber-cta {
  position: relative;
  width: 210%;
  height: 300%;
  display: flex;
  cursor: pointer;
}
.cyber-cta--background,
.cyber-cta--background div,
.cyber-cta--foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cyber-cta--background {
  z-index: -1;
  filter: drop-shadow(5px 8px 30px rgba(219, 43, 48, 0.15));
}
.cyber-cta--background > div {
  content: "";
  border: 1px solid #ffe600;
  -webkit-clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
}
.cyber-cta--foreground {
  border: 1px solid #faf600;
  -webkit-clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
  transform: translateX(-3px) translateY(-3px);
  will-change: transform;
  transition: 0.2s transform;
}
.cyber-cta--background:after,
.cyber-cta--background:before,
.cyber-cta--foreground:after,
.cyber-cta--foreground:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  background: #faf600;
}
.cyber-cta--background:after,
.cyber-cta--foreground:after {
  top: calc(28.28px / -2);
  left: 0;
  transform: rotate(45deg) translateX(13.5px) translateY(1px);
}
.cyber-cta--background:before,
.cyber-cta--foreground:before {
  bottom: calc(28.28px / -2);
  right: 0;
  transform: rotate(45deg) translateX(-13.5px) translateY(-0.5px);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(157, 255, 0), 0 0 30px #e60073,
      0 0 40px #ff0000, 0 0 50px #2f00ff, 0 0 60px #ffe600, 0 0 70px #00fff2;
  }
  to {
    text-shadow: 0 0 10px #00fff2, 0 0 20px #ffe600, 0 0 30px #2f00ff,
      0 0 40px #ff0000, 0 0 50px #e60073, 0 0 60px rgb(157, 255, 0),
      0 0 70px #fff;
  }
}

.cyber-cta--text {
  margin: auto;
  padding: 6% 0 6% 0;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* color: #eef4f6; */
  text-shadow: 1px 1px 8px rgba(238, 244, 246, 0.1);
  will-change: letter-spacing;
  transition: 0.2s letter-spacing;
}

.cyber-cta--text::-moz-selection {
  background: none;
}
.cyber-cta--text::selection {
  background: none;
}
.cyber-cta:hover .cyber-cta--text {
  letter-spacing: 0.08em;
}
.cyber-cta:hover .cyber-cta--foreground {
  transform: translateX(-8px) translateY(-8px);
}
.cyber-cta:active .cyber-cta--foreground {
  transform: translateX(0px) translateY(0px);
}

/* ------------------------------------------- */
/* CSS Related to components of sign up, log in and reset password */
.form-container {
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/ultimatebg.jpg");
  /* backdrop-filter: blur(2px); */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  background-position: center;
  background-size: cover;
  padding: 60px 30px;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  overflow-y: auto;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#101010, 0.4);
  }
}

@keyframes form-open {
  0% {
    clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
  }
  50% {
    clip-path: polygon(
      0 20px,
      20px 0,
      20px 0,
      20px calc(100% - 20px),
      0 100%,
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      0 20px,
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-16px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.form {
  display: grid;
  grid-gap: 36px;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  margin-top: 10%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
  animation: form-open 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;

  > * {
    position: relative;
    opacity: 0;
    animation: fade-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  > *:nth-child(2) {
    animation-delay: 1.2s;
  }

  > *:nth-child(3) {
    animation-delay: 1.3s;
  }

  > *:nth-child(4) {
    animation-delay: 1.4s;
  }

  > *:nth-child(5) {
    animation-delay: 1.5s;
  }

  > *:nth-child(6) {
    animation-delay: 1.6s;
  }

  > *:nth-child(7) {
    animation-delay: 1.7s;
  }

  /* backdrop-filter: ; */
}

.form__logo {
  width: 80%;
  height: auto;
  justify-self: center;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.input__element {
  border: 0;
  margin: 0;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  height: 46px;
  transition: box-shadow 0.4s ease;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;

  &:focus {
    box-shadow: inset 0 -2px 0 0 #fdee06;
    outline: none;
  }
}

.input__label {
  font-size: 16px;
  position: absolute;
  left: 10px;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.input__element:focus + .input__label,
.input__element:not(:placeholder-shown) + .input__label {
  top: -16px;
  left: 0;
  font-size: 14px;
  transform: translate3d(0, -5px, 0);
}

.submit-button {
  background: #fdee06;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  text-transform: uppercase;
  text-align: left;
  padding: 0 20px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #22edfc;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover:before,
  &:focus:before {
    transform-origin: left center;
    transform: scaleX(1);
  }
}

.submit-button:hover .button__icon,
.submit-button:focus .button__icon {
  transform: translate3d(10px, -50%, 0);
}

.submit-button__label {
  position: relative;
}

.submit-button__icon {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 25px;
  width: 24px;
  height: 24px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &:before {
    content: "";
    height: 1px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    top: 12px;
  }

  &:after {
    content: "";
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 8px;
  }
}

.on-page-logo {
  margin: 0 auto;
  width: 70%;
  margin-bottom: -10%;
}

@media only screen and (max-width: 900px) {
  .cyber-cta {
    width: 150%;
    height: 130%;
  }
}

/* ------------------------------------------------- */
/*Event Component */
.eventContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #191c29;
}

/* Event Card */
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* --------------------------CSS for landing page-------------------------------- */
/* Resize in Mobile View */
@media (min-width: 0) and (max-width: 767px) {
  p,
  .body-text {
    font-size: 10px !important;
  }
  .down-arrow {
    font-size: 20px !important;
  }
}
/* Resize in Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  p,
  .body-text {
    font-size: 15px !important;
  }
  .down-arrow {
    font-size: 30px !important;
  }
}

.line-separator {
  display: block;
  width: 50%;
  height: 1px;
  text-align: center;
  margin: 20px auto;
  border-bottom: 1px solid grey;
}

/* CSS Hero Section */
.hero-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url("./assets/eventsbg.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}
.hero-div {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* backdrop-filter: blur(2px); */
  /* background-color: rgba(71, 58, 255, 0.219); */
}
.hero-div .hero-inner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.hero-div .hero-inner-div .down-arrow {
  font-size: 40px;
  color: #fff;
}
.hero-div .hero-inner-div p {
  padding: 20px;
  letter-spacing: 0.45em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Text within hero section */
.one {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: transparent;
}
.XL-text {
  position: absolute;
  text-transform: uppercase;
  opacity: 0;
  font-weight: bolder;
  text-align: center;
  color: #22edfc;
  /* transform: translateY(-50px); */
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: min(10vw, 85px);
  line-height: min(10vw, 81px);
  text-shadow: 0px 0px 21px #22edfc;
  z-index: 1;
  animation: fadeIn 2s ease-in 0s forwards;
}
.L-text {
  position: absolute;
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Montserrat Subrayada", sans-serif;

  text-transform: uppercase;
  text-align: center;

  font-size: min(10vw, 85px);
  font-weight: bolder;

  line-height: min(10vw, 81px);

  color: transparent;
  -webkit-text-stroke: 0.3px #22edfc;

  transform: translateY(-25px);
}
.fab {
  font-size: 24px;
  font-weight: lighter;
}

.container-center {
  width: 80vw;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

/* ---------------------BUTTON----------------- */
/* Primary Button Glitch animation and CSS*/
.hero-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20rem;
  width: 100%;
}

.primary-button,
primary-button::after {
  width: 300px;
  height: 70px;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(135deg, #faf600 95%, transparent 5%);
  border: 0;
  color: #40128b;
  letter-spacing: 2px;
  outline: transparent;
  position: relative;
  margin: 0 2%;
}

.primary-button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "REGISTER NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #40128b 3%,
    #40128b 5%,
    #faf600 5%
  );
  text-shadow: -3px -3px 0px #faf600, 3px 3px 0px #40128b;
  clip-path: var(--slice-0);
}

.primary-button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.featured {
  position: absolute;
  bottom: 20px;
  font-family: "Orbitron", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */

  font-weight: bolder;
  transform: translateY(-10vh);
  color: #ffde59;
  left: 10vw;
  font-size: 2rem;

  text-transform: uppercase;
  animation: fadeIn 2s ease-in 0s forwards;
}
.featured::after {
  content: "MCA";
  font-family: inherit;

  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 2rem;
  color: transparent;
  -webkit-text-stroke: 0.3px rgba(217, 231, 67, 0.65);

  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .two {
    grid-template-columns: repeat(2, 1fr);
  }
  .two > img {
    max-height: 104px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-120px);
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}

@keyframes fadeEaseIn {
  0% {
    transform: translateY(-180px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* -------------------------------------- */
/* Title */
/* Later move it elsewhere */
/* .title-container{
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.title {
  font-family: "Orbitron", sans-serif;
  font-size: 200%;
  font-weight: 700;
}

.tag-line {
  font-size: 125%;
  letter-spacing: 0.05em;
}
/* ----------------------------------------- */

/* css for team section */

.team-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url("./assets/team.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  /* z-index: 10; */
}


/* CSS About Section */
/* ------------------ */
.event-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url("./assets/aboutbg.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}
.event-div {
  display: table;
  height: 50vh;
  width: 100vw;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(0, 0, 0, 0.3);
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
.event-div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.event-inner-div {
  display: table;
  height: 50vh;
  width: 100vw;
  text-align: center;
  background-color: transparent;
}

/* CSS Events Summary */
.about-wrap {
  height: 100%;
  width: 100vw;
  background: #ffffff url("./assets/herobg.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
}
.about-div {
  display: table;
  height: 50vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}
.about-div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.about-second-div {
  display: table;
  position: relative;
  height: 50vh;
  width: 100vw;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .9)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about-us-description {
  color: white;
  font-size: 18px;
  text-align: justify;
  /* position: absolute; */
  /* bottom: 35%; */
  width: 60vw;
  /* background-image: url("./assets/yellowDots.png"); */
  font-family: "Montserrat", sans-serif;
  margin: 5% 0;
}

/* ----------------------------- */
/* ------------FOOTER----------- */
/* write footer class so that it always sticks to the bottom  */
/* .footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
} */


.footer-lower {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 180px;
  margin-right: 5%;
}

.align-right {
  margin-left: auto; /* Pushes the item to the right */
}

/* ------------------------------------------------------- */
/* ------------------GENERAL CLASSES REUSABLE------------- */
.bottom-0 {
  position: absolute;
  bottom: 15%;
}

.width-long {
  width: 12rem;
  height: 3rem;
}

.scndry-clr {
  color: #22edfc;
}

.prmry-clr {
  color: #faf600;
}

.sml-btn {
  /* width: 65%;
  height: 1.6rem; */
  /* height: 200%; */
  /* height: 100%; */
  width: 100px;
  height: 30px;
}

.small-txt {
  font-size: 10px;
}

.altrnt-optn {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.from-error {
  color: red;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.normal-h3 {
  font-size: 1.5rem;
  margin: 0 0 5% 0;
  font-weight: 700;
}

.normal-txt {
  margin: 5% 0 0 0;
  text-align: center;
}

.event-card-btn {
  margin: 40px 0 5px 0 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  height: 30px !important;
  background-color: #22edfc !important;
  color: black !important;
}

.event-card-btn:hover {
  background-color: #faf600 !important;
  transition: 0.2s !important;
}

/* ------------------------------ */
/* About page */
.abous-us {
  padding: 10%;
  text-align: center;
}

/* ----------Events Page------------ */

.events-page {
  background: #101010;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/eventsbg-main.jpg");
  /* backdrop-filter: blur(10px); */
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  background-position: center;
  background-size: cover;
  padding: 140px 30px 50px 30px;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  /* filter: brightness(50%); */

  &:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgba(16,16,16, 0.4); */
  }
}

.page-title {
  /* margin-top: 2rem; */
  padding-top: 6rem;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  /* color:gold; */
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: 200%;
  font-weight: 700;
  color: #fff;
  animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(234, 255, 0), 0 0 80px rgb(234, 255, 0),
      0 0 90px rgb(234, 255, 0), 0 0 100px rgb(234, 255, 0),
      0 0 150px rgb(234, 255, 0);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.events-card-container {
  /* position: relative;
  width: 1100px; */
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  max-height: 100%;
}

/* * {
  box-sizing: border-box;
} */

@keyframes form-open {
  0% {
    clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
  }
  50% {
    clip-path: polygon(
      0 20px,
      20px 0,
      20px 0,
      20px calc(100% - 20px),
      0 100%,
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      0 20px,
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-16px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.event-card {
  --tile-width: 360px;
  --tile-padding: 4px;
  --tile-edges: 20px;
  --label-margins: calc(var(--tile-edges) - var(--tile-padding));
  --og-clip-path: polygon(
    0 0,
    0 calc(100% - var(--tile-edges)),
    var(--tile-edges) 100%,
    100% 100%,
    100% var(--tile-edges),
    calc(100% - var(--tile-edges)) 0
  );
  width: var(--tile-width);
  min-height: 60px;
  clip-path: var(--og-clip-path);
  padding: var(--tile-padding);
  padding-bottom: var(--tile-edges);
  margin: 50px;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: 0.5s;
  background: #101010;
  color: #fff;
  clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
  animation: form-open 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;
}

.event-card:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.event-card .imgBx {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
}

.event-card .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(135deg, yellow, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.event-card:hover .imgBx::before {
  opacity: 1;
}

.event-card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
}

.event-card .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5pz;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(300px);
}

.event-card:hover .content h2 {
  transform: translateY(0);
  transition-delay: 0s;
}

/* .event-card .content p{
  color: #fff;
  transform: translateY(300px);
  transition: 0s;
  font-size: 12px;
}

.event-card:hover .content p{
  transform: translateY(0);
  transition-delay: 0;
} */

.event-card .content button {
  transform: translateY(300px);
  transition: 0.5s;
}

.event-card:hover .content button {
  transform: translateY(0);
  transition-delay: 0.1s;
}

@media screen and (max-width: 768px) {
  :root {
    --root-font-size: 14px;
  }

  .event-card {
    max-width: 100%;
  }
}

/* -------Modal------- */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 0.5rem;
  max-width: 30rem;
  z-index: 1000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.modal-title {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.modal-details {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* ---Loading Animation---- */
/* ------------------------ */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #faf600;
  height: 100%;
  width: 6px;
  margin: 2px;
  display: inline-block;
  -webkit-animation: stretchDelay 1.2s infinite ease-in-out;
  animation: stretchDelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchDelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* ----------- Exxplroe Button ---------*/
/* -------------------------------------- */
.explore-button {
  background: #fdee06;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  text-transform: uppercase;
  text-align: left;
  padding: 0 20px;
  cursor: pointer;
  margin-bottom: 3%;
}

.explore-button:hover {
  background: #22edfc;
}

/* ------------- Shimmer Card CSS --------------*/
/* ------------------------------------------- */
.shimmer-card-container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shimmer {
  background: rgb(193, 193, 193);
  position: relative;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  margin: 30px;
}
.shimmer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    -60deg,
    rgba(193, 193, 193, 1) 0%,
    rgba(193, 193, 193, 1) 35%,
    rgba(232, 232, 232, 1) 50%,
    rgba(193, 193, 193, 1) 65%,
    rgba(193, 193, 193, 1) 100%
  );
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
}

@keyframes shimmer {
  0% {
    background-position: -300px 0%;
  }
  100% {
    background-position: 300px 0%;
  }
}

/* ------------- About Us CSS --------------*/
/* --------------------------------------------- */
.about-container {
  background-image: url(https://images.unsplash.com/photo-1633218388467-539651dcf81f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
  width: 100vw;
  padding: 150px 20px 50px 20px;
  color: white;
  text-align: center;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 100%;
  margin: 1rem 0rem 0rem 2rem;
}

.img img {
  width: 100%;
}

.company-info {
  width: 100%;
  margin-right: 4rem;
}

.company-info span {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

.company-info span .our {
  color: #ffdc0e;
}

.company-info p {
  font-size: 1.1rem;
  text-align: justify;
  padding: 10px 0 10px 0;
}

/* Error page 404 CSS */
/* ----------------- */

/*======================
    404 page
=======================*/

/*======================
    404 page
=======================*/

.page_404 {
  height: 88vh;
  padding: 120px 0 10px 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.contant_box_404 {
  margin-top: -50px;
  font-size: 18px;
}

.contant_box_404 > h3 {
  font-weight: 700;
}

/* Resposiveness quick fixes */
/* ---------------------------- */
@media only screen and (max-width: 770px) {
  .featured {
    visibility: hidden;
  }
  .company {
    flex-direction: column;
    margin: 20px;
    justify-content: center;
  }

  .company-info p {
    font-size: 16px !important;
  }
}
